body {
  background-color: rgb(48, 47, 47);
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.advice-container {
  background-color: #313a49;
  width: 540px;
  height: 335px;
  left: 450px;
  top: 222px;
  border-radius: 20px;
  padding: 15px;
}

.title-advice {
  font-family: "StratosWeb";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  color: #53ffab;
}

.text-advice {
  width: auto;
  height: 114px;
  left: 486px;
  top: 313px;
  font-family: "StratosWeb";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin: 0px 36px;
  color: #d9d9d9;
}

#pattern-divider {
  width: 463px;
  height: 17px;
  left: 489px;
  top: 467px;
  margin: 40px 38px;
}

#dice-container {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #53ffab;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-dice {
  width: 28px;
  height: 28px;
  border: 0;
}

#advice-btn {
  background: #53ffab;
  border: 0px;
  cursor: pointer;
}

#dice-container-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .advice-container {
    width: 396px;
    height: 361px;
    left: 26px;
    top: 191px;
    padding: 0px;
  }

  #pattern-divider {
    width: 337px;
    height: 17px;
    margin-top: 35px;
    margin-left: 25px;
  }

  .first-container {
    margin-left: 28px;
  }

  #dice-container-align {
    margin-top: 50px;
  }
}
